<mat-toolbar>
  <mat-toolbar-row>
    <h1>Shop</h1>
    <span class="menu-spacer"></span>
    <a mat-button routerLink="/home"> Home </a>

    <div>
      <a mat-button routerLink="/products"> Products </a>
    </div>
    <div>
      <a mat-button routerLink="/cart"> Cart </a>
    </div>
    <div>
      <a mat-button routerLink="/login"> Login </a>
    </div>
    <div>
      <a mat-button routerLink="/admin"> Admin </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet
  #routerOutlet="outlet"
  (activate)="onActivate($event, routerOutlet)"
  (deactivate)="onDeactivate($event, routerOutlet)">
</router-outlet>
