<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{product.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item> Name: {{product.name}} </mat-list-item>
    <mat-list-item> Description: {{product.description}} </mat-list-item>
    <mat-list-item> Price: {{product.price}} </mat-list-item>
    <mat-list-item> Category: {{product.category}} </mat-list-item>
    <mat-list-item> Is available: {{product.isAvailable}} </mat-list-item>
    <mat-list-item>
      <button mat-flat-button color="accent" (click)="onBuy(product)">Buy</button>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>
